---
interface Props {
  title: string;
  body: string;
  image: string;
  imageAlt: string;
  more: string;
}

const { title, body, image, more } = Astro.props;
---

<div class="grid-container">
  <div class="div-item" id="image">
    <img src={image} alt="">
  </div>
  <div class="div-item" id="body">
    <div id="text-box">
      {body}
    </div>
  </div>
  <div class="div-item" id="title">
    <h1>{title}</h1>
  </div>
  <div class="div-item" id="more">
    {more}
  </div>
</div>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    height: 40rem;
    box-sizing: border-box;
  }

  .grid-container > div {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}

  .div-item {
    list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  #image {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
  }

  #image img {
    position: absolute;

    min-width: 100%;
    min-height: 100%;
    max-width: auto;
    height: auto;

    object-fit: cover;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #body #text-box {
    margin: 3rem;
  }

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #title h1 {
    text-align: center;
    font-size: 2em;
  }

  #more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      height: auto;
    }
    #image {
      grid-row: 1 / 2;
    }
    #body {
      grid-row: 2 / 3;
    }
    #title {
      grid-row: 3 / 4;
    }
    #more {
      grid-row: 4 / 5;
    }
  }
</style>
