<nav id="navbar">
  <ul>
    <li>
      <a href="/about" id="about">About me</a>
    </li>
    <li>
      <a href="/site" id="site">Website</a>
    </li>
    <li>
      <a href="/games" id="games">Games</a>
    </li>
    <li>
      <a href="/social" id="social">Socials</a>
    </li>
    <li>
      <select id="language-selector">
        <option value="en">English</option>
        <option value="is">Íslenska</option>
      </select>
    </li>
  </ul>
</nav>

<style>
  #navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #23262d;
    color: white;
  }

  #navbar li {
    border-right: 1px solid white;
    display: inline-block;
    padding: 5px;
  }

  #navbar li:last-child {
    border-right: none;
  }

  #navbar li a {
    padding: 2px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
  }

  #navbar li a:is(:hover, :focus-within) {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #language-selector {
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
  }

  #language-selector:hover {
    background-color: white;
    color: #23262d;
  }

  #language-selector option {
    background-color: #23262d;
    color: white;
  }

  #language-selector option:checked {
    background-color: var(--accent-color);
  }
</style>

<script>
  let lang: string | null = localStorage.getItem("lang");

  if (!lang) {
    lang = 'en';
    localStorage.setItem('lang', lang);
  }

  if (lang === 'is') {
    let about = document.querySelector("#about");
    let site = document.querySelector("#site");
    let games = document.querySelector("#games");
    let social = document.querySelector("#social");

    about!.textContent = "Um mig";
    site!.textContent = "Síðan";
    games!.textContent = "Leikir";
    social!.textContent = "Félagsmiðlar";
  } else if (lang === 'en') {
    let about = document.querySelector("#about");
    let site = document.querySelector("#site");
    let games = document.querySelector("#games");
    let social = document.querySelector("#social");

    about!.textContent = "About me";
    site!.textContent = "Website";
    games!.textContent = "Games";
    social!.textContent = "Socials";
  }

  let languageSelector = document.querySelector("#language-selector") as HTMLSelectElement;
  languageSelector.value = lang;
  languageSelector.addEventListener("change", (e: Event) => {
    const selectElement = e.target as HTMLSelectElement;
    console.log(selectElement.value)
    localStorage.setItem('lang', selectElement.value);
    location.reload();
  });
</script>