---
import Layout from "../../layouts/Layout.astro";
import Grid from "../../components/Grid.astro";
import Navbar from "../../components/Navbar.astro"
---

<Layout title="Welcome to dev" metaContent="Now look at what I do">
  <Navbar />
  <div id="animation-test">
    <Grid
      title="Welcome to dev"
      body="Now look at what I do"
      image="https://i.imgur.com/Jh3CSGj.jpg"
      imageAlt="Martincitopants"
      more="https://google.com"
    />
  </div>
</Layout>

<style>
  #animation-test {
    width: 100%;
    height: 100%;
    animation: fadein 2s;
  }

  @keyframes fadein {
    from {
      transform: translate(0, 10%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
</style>
